{# templates/developer_profile/create.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un Profil de Développeur</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.location) }}
        {{ form_row(form.experienceLevel) }}
        {{ form_row(form.minSalary) }}
        {# Affichage du champ Technologies #}
        {{ form_row(form.technologies) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}
