{% extends 'base.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.location) }}
    {{ form_row(form.experienceLevel) }}
    {{ form_row(form.minSalary) }}
    {{ form_row(form.bio) }}
    {{ form_row(form.avatar) }}
    {{ form_row(form.languages) }}
    <button type="submit">Submit</button>
{{ form_end(form) }}
