{% extends 'base.html.twig' %}

{% block title %}Modifier une Offre d'Emploi{% endblock %}

{% block body %}
<h1>Modifier l'Offre d'Emploi</h1>

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.location) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
{{ form_end(form) }}

<a href="{{ path('job_offer_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
